{% load static %}
<footer>
    <div class="container">
        <div class="row main-links">
            <div class="col-md-12">
                <ul class="primary">
                    <li><a href="#" title="">Live</a></li>
                </ul>
                <ul class="success">
                    <li><a href="#" title="">Invest</a></li>
                </ul>
                <ul class="warning">
                    <li><a href="#" title="">Work</a></li>
                </ul>
                <ul class="info">
                    <li><a href="#" title="">Visit</a></li>
                </ul>
            </div>
        </div>
        <div class="row submenu-links">
            <div class="col-md-12">
                <ul>
                    <li><a href="http://baylasun.kaec.net/" target="_blank">Bay La Sun</a></li>
                    <li><a href="http://almurooj.net/" target="_blank">Al Murooj</a></li>
                    <li><a href="http://www.altalahgardens.net/" target="_blank">Al Talah Gardens</a></li>
                    <li><a href="http://alwaha.kaec.net/" target="_blank">Al Waha</a></li>
                    <li><a href="http://alshurooq.kaec.net/home.php" target="_blank">Al Shurooq</a></li>                    
                </ul>
                <ul>
                    <li><a href="http://www.industrialvalley.com/" target="_blank">Industrial Valley</a></li>
                    <li><a href="http://www.kingabdullahport.com.sa/" target="_blank">King Abdullah Port</a></li>                    
                </ul>
                <ul>
                    <li><a href="#" target="_blank">Careers</a></li>                    
                    <li><a href="#" target="_blank">Job</a></li>                    
                </ul>
                <ul>
                    <li><a href="#" target="_blank">Visit KAEC</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="open">
                    <a class="">Close</a>
                </div>
            </div>
        </div>
        <div class="row general-links">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <ul>
                            <li>Useful Links</li>
                            <li><a href="">Huna Magazine</a></li>
                            <li><a href="">Saudi Arabian General Investment Authority</a></li>
                            <li><a href="">Economic Cities Authority</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <ul>
                            <li>About</li>
                            <li><a href="">Overview</a></li>
                            <li><a href="">Leadership</a></li>
                            <li><a href="">EEC Careers</a></li>
                            <li><a href="">Sustainability</a></li>
                            <li><a href="">Investor Relations</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <ul>
                            <li>Pressroom</li>
                            <li><a href="">Media Library</a></li>
                            <li><a href="">Press Releases</a></li>
                        </ul>
                        <ul>
                            <li>Contact Us</li>
                            <li class="numberContact">
                                <a href="">
                                    Toll free <span>800 11 800 10</span>
                                </a>
                            </li>
                            <li><a href="">Customer Care</a></li>
                            <li>
                                <a href="">FIND US</a>
                                <i class="icon-pointer-2"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="connected">
                            <h4>Stay Connected.</h4>
                            <div class="form-wrapper">
                                <form action="#" id="newletter" class="fv-form fv-form-bootstrap">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control user" name="email" data-fv-email="email" placeholder="Your Email Address">
                                    </div>
                                    <button type="submit" title="Submit" class="btn btn-primary btn-hover-effect-white"><span>Subscribe</span></button>
                                </form>
                                <div class="thanks">
                                    <div class="thanks-inner">
                                        <p><b>Thank you</b> for subscribing</p>
                                    </div>
                                </div>
                            </div>
                            <h4>
                                <a href="http://www.kaec.net/wp-content/uploads/2014/11/KAEC_CORPORATE_BROCHURE-FINAL.pdf" target="_blank">
                                    Download Brochure
                                    <i class="icon-donload"></i>
                                </a>
                            </h4>
                            <h4><a href="http://www.kaec.net/wp-content/uploads/2016/12/KAEC-CITY-MAP-2016.pdf" target="_blank">DOWNLOAD CITY MAP</a></h4>
                        </div>
                        <ul class="social">
                            <li class="fa animation fadeInDown animated" data-animation="fadeInDown" data-duration="600">
                                <a href="#" target="_blank" title="Facebook"><i class="icon-facebook-1"></i></a>
                            </li>
                            <li class="ins animation fadeInDown animated" data-animation="fadeInDown" data-duration="700">
                                <a href="#" target="_blank" title="Instagram"><i class="icon-instagram-1"></i></a>
                            </li>
                            <li class="you animation fadeInDown animated" data-animation="fadeInDown" data-duration="800">
                                <a href="#" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            </li>
                            <li class="twi animation fadeInDown animated" data-animation="fadeInDown" data-duration="900">
                                <a href="#" target="_blank" title="Twitter"><i class="icon-twitter-1"></i></a>
                            </li>
                            <li class="twi animation fadeInDown animated" data-animation="fadeInDown" data-duration="900">
                                <a href="#" target="_blank" title="LinkedIn"><i class="icon-linkedin-sign"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-area">
            <div class="col-md-12">
                <div class="footer-logo">
                    <a href="#" title="Welcome to KAEC" class="logo animation fadeInDown" data-animation="fadeInDown" data-duration="200">
                        <img src="{% static 'imgs/logo-footer-white.svg' %}" alt="Site Footer Logo" class="normal-log img-responsive">
                    </a>
                </div>

                <div class="copy">&copy; 2017 Emaar, The Economic City</div>

                <ul class="legal">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Sitemap</a></li>
                </ul>

                <a href="javascript:" id="back-to-top" class="down-pointer" title="Scroll Up"><img src="{% static 'imgs/down-pointer.svg' %}" alt=""></a>
            </div>
        </div>
    </div>
</footer>