{% load static %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-6">
                <ul class="top-nav">
                    <li class="app-register">
                        <ul>
                            <li>
                                <a href="#">EEC Careers</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li class="language">
                        <a href="#" title="Tiếng Việt">Tiếng Việt</a>
                    </li>
                    <li class="social">
                        <ul>
                            <li class="fa animation fadeInDown animated" data-animation="fadeInDown" data-duration="600">
                                <a href="#" target="_blank" title="Facebook"><i class="icon-facebook-1"></i></a>
                            </li>
                            <li class="ins animation fadeInDown animated" data-animation="fadeInDown" data-duration="700">
                                <a href="#" target="_blank" title="Instagram"><i class="icon-instagram-1"></i></a>
                            </li>
                            <li class="you animation fadeInDown animated" data-animation="fadeInDown" data-duration="800">
                                <a href="#" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            </li>
                            <li class="twi animation fadeInDown animated" data-animation="fadeInDown" data-duration="900">
                                <a href="#" target="_blank" title="Twitter"><i class="icon-twitter-1"></i></a>
                            </li>
                            <li class="twi animation fadeInDown animated" data-animation="fadeInDown" data-duration="900">
                                <a href="#" target="_blank" title="LinkedIn"><i class="icon-linkedin-sign"></i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="search"></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-2">
                <a href="/" class="logo animation active fadeInDown animated" data-animation="fadeInDown" data-duration="200">
                    <img src="{% static 'imgs/logo-green.svg' %}" alt="King Abdullah Economic City" class="normal-log img-responsive">
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8 menu-handle">
                <nav class="nav">
                    <ul class="navbar-nav">
                        <li class="primary">
                            <a href="#"><span>Live</span></a>
                        </li>
                        <li class="success">
                            <a href="#"><span>Invest</span></a>
                        </li>
                        <li class="info">
                            <a href="#"><span>Work</span></a>
                        </li>
                        <li class="warning">
                            <a href="#"><span>Visit</span></a>
                        </li>
                        <li class="extra2">
                            <a href="#"><span>About</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>