{% load static %}
<section class="home-tabs" id="home-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-tabs-start">
                    <!-- nav-tab -->
                    <ul class="nav nav-pills text-center" role="tablist">
                        <li role="presentation" class="active live animation fadeInUp animated" data-animation="fadeInUp" data-duration="200">
                            <a href="#live" role="tab" data-toggle="tab" aria-controls="live">live</a>
                        </li>
                        <li role="presentation" class="invest animation fadeInUp animated" data-animation="fadeInUp" data-duration="300">
                            <a href="#invest" role="tab" data-toggle="tab" aria-controls="invest">invest</a>
                        </li>
                        <li role="presentation" class="work animation fadeInUp animated" data-animation="fadeInUp" data-duration="400">
                            <a href="#work" role="tab" data-toggle="tab" aria-controls="work">work</a>
                        </li>
                        <li role="presentation" class="visit animation fadeInUp animated" data-animation="fadeInUp" data-duration="500">
                            <a href="#visit " role="tab" data-toggle="tab" aria-controls="visit ">visit </a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="animation fadeInUp animated" data-animation="fadeInUp" data-duration="100">
                                        Your Family: Your Life                                            
                                    </h1>
                                    <h3 class="animation fadeInUp animated" data-animation="fadeInUp" data-duration="200">
                                        You want a modern, healthy lifestyle. A safe, family environment, with expansive greenery and open views. Offering connected communities and with access to the pristine waters of the Red Sea, KAEC gives you a new way to live your life                                            
                                    </h3>
                                </div>
                            </div>
                            <div class="row live-boxes box-grid-container">
                                <div class="col-l box-1 live animation fadeInUp animated" data-animation="fadeInUp" data-duration="100">
                                    <a href="" rel="nofollow" target="_blank" title=""></a>
                                    <img src="{% static 'imgs/live-main-banner.jpg' %}" alt="" class="img-responsive">
                                    <div class="txt">
                                        <p>LIVE</p>
                                        <a href="javascript:" class="btn btn-white-hollow" title="find out more">find out more</a>
                                    </div>
                                </div>
                                <div class="col-l box-2 sm-box animation fadeInUp animated" data-animation="fadeInUp" data-duration="200">
                                    <a href rel="nofollow" target="_blank" title=""></a>
                                    <div class="image">
                                        <img src="{% static 'imgs/inner-banner.jpg' %}" alt="" class="img-responsive">
                                    </div>
                                    <div class="txt">
                                        <h4>Royal Greens opening soon</h4>
                                        <a href="javascript:" class="btn btn-white-hollow" title="Register now">Register now</a>
                                    </div>
                                </div>
                                <div class="col-l box-3 quots sm-box animation fadeInUp animated" data-animation="fadeInUp" data-duration="300">
                                    <img src="{% static 'imgs/testimonial.jpg' %}" alt="kids image" class="img-responsive">
                                    <span class="pointer"></span>
                                </div>
                                <div class="col-l box-4 visit sm-box animation fadeInUp animated" data-animation="fadeInUp" data-duration="400">
                                    <a href="" rel="nofollow" target="_blank" title=""></a>
                                    <div class="image">
                                        <img src="{% static 'imgs/video-banner-sm-box.jpg' %}" alt="" class="img-responsive">
                                    </div>
                                    <div class="txt">
                                        <h4>Outstanding education</h4>
                                    </div>
                                </div>
                                <div class="col-l box-5 sm-box visit txt-block animation fadeInUp animated" data-animation="fadeInUp" data-duration="500">
                                    <div class="black">
                                        <p>
                                            "There is a satisfaction in being part of something you believe in, something that you can see grow and develop in real time"
                                        </p>
                                        <p class="text-primary">
                                            <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id>
                            <div class="row"></div>
                            <div class="row live-boxes"></div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id>
                            <div class="row"></div>
                            <div class="row live-boxes"></div>
                        </div>
                        
                        <div class="tab-pane" role="tabpanel" id>
                            <div class="row"></div>
                            <div class="row live-boxes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>