{% load static %}
<section class="happening">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Our news</h1>
            </div>
        </div>

        <div class="row happening-boxes">
            <div class="col-md-6 green animation fadeInUp" data-animation="fadeInUp" data-duration="100">

            </div>
            <div class="col-md-6 animation fadeInUp" data-animation="fadeInUp" data-duration="500">

            </div>
            <div class="col-md-6 grey animation fadeInUp" data-animation="fadeInUp" data-duration="700">

            </div>
            <div class="col-md-6 animation fadeInUp" data-animation="fadeInUp" data-duration="300">
                
            </div>
        </div>
    </div>
</section>