{% load static %}

<!-- Home slider -->
<section class="home-video" id="home-video">
    
    <div class="bx-wrapper">
        <div class="bx-viewport">
            <ul class="main-slider">
                <li>
                    <img src="{% static 'imgs/Bayviews-e1474719383226.jpg'%}" alt="" class="img-responsive">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 txt-image">
                                <img src="{% static 'imgs/video-txt.png' %}" alt="" class="animation fadeInUp animated" data-animation="fadeInUp" data-duration="150">
                                <a href="#moving" class="animation down scroll-to fadeInUp animated" title="Scroll Down" data-animation="fadeInUp" data-duration="1100">
                                    <img src="{% static 'imgs/down-pointer.svg' %}" alt="down pointer">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <img src="{% static 'imgs/city-gate.jpg'%}" alt="" class="img-responsive">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 txt-image">
                                <img src="{% static 'imgs/video-txt.png' %}" alt="" class="animation fadeInUp animated" data-animation="fadeInUp" data-duration="150">
                                <a href="#moving" class="animation down scroll-to fadeInUp animated" title="Scroll Down" data-animation="fadeInUp" data-duration="1100">
                                    <img src="{% static 'imgs/down-pointer.svg' %}" alt="down pointer">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <img src="{% static 'imgs/Juman-Park.jpg'%}" alt="" class="img-responsive">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 txt-image">
                                <img src="{% static 'imgs/video-txt.png' %}" alt="" class="animation fadeInUp animated" data-animation="fadeInUp" data-duration="150">
                                <a href="#moving" class="animation down scroll-to fadeInUp animated" title="Scroll Down" data-animation="fadeInUp" data-duration="1100">
                                    <img src="{% static 'imgs/down-pointer.svg' %}" alt="down pointer">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="bx-controls bx-has-pager">
            <div class="bx-pager bx-default-pager">
                <div class="bx-pager-item"><a href data-slide-index="0" class="bx-pager-link">1</a></div>
                <div class="bx-pager-item"><a href data-slide-index="1" class="bx-pager-link">2</a></div>
                <div class="bx-pager-item"><a href data-slide-index="2" class="bx-pager-link">3</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider -->