{% load static %}
<section class="opportunity">
    <div class="container">

        <div class="row">
            <div class="text-center col-md-12">
                <h1>A wealth of opportunities</h1>
            </div>
        </div>

        <!--<div class="row">-->
            <div class="opportunity-boxes">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 animation fadeInUp" data-animation="fadeInUp" data-duration="100">
                        <a href="https://www.kingabdullahport.com.sa/" target="_blank" rel="nofollow" title="FIND OUT MORE"></a>
                        <div class="image">
                            <img src="{% static 'imgs/500x478-2.jpg' %}" alt="box image" class="img-responsive scale-img">
                        </div>
                        <div class="txt">
                            <h3>Leading Shipping <br/>Gateway</h3>
                            <a href="https://www.kingabdullahport.com.sa/" target="_blank" class="btn btn-white-hollow" title="FIND OUT MORE">FIND OUT MORE</a>
                        </div>
                        <div class="icon">
                            <img src="{% static 'imgs/kap-logo-e1475487217586.png' %}" alt="box logo">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 animation fadeInUp" data-animation="fadeInUp" data-duration="100">
                        <a href="http://www.industrialvalley.com/" target="_blank" rel="nofollow" title="FIND OUT MORE"></a>
                        <div class="image">
                            <img src="{% static 'imgs/500x478.jpg' %}" alt="box image" class="img-responsive scale-img">                        
                        </div>
                        <div class="txt">
                            <h3>Manufacturing<br/>And Logistics Hub</h3>
                            <a href="http://www.industrialvalley.com/" target="_blank" class="btn btn-white-hollow" title="FIND OUT MORE">FIND OUT MORE</a>
                        </div>
                        <div class="icon">
                            <img src="{% static 'imgs/industial-v-logo-1-e1475487376511.png' %}" alt="box logo">
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 animation fadeInUp" data-animation="fadeInUp" data-duration="100">
                        <a href="mailto:commercial@kaec.net" rel="nofollow" target="_blank" title="Contact Us"></a>
                        <div class="image">
                            <img src="{% static 'imgs/500x478-2-1.jpg' %}" alt="box image" class="img-responsive scale-img">
                        </div>
                        <div class="txt">
                            <h3>World Class<br >Commercial Space</h3>
                            <a href="mailto:commercial@kaec.net" rel="nofollow" target="_blank" class="btn btn-white-hollow" title="Contact Us">Contact Us</a>
                        </div>
                        <div class="icon">
                            <img src="{% static 'imgs/bay-v-e1475487438135.png' %}" alt="box logo">
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </div>
</section>