## OSX
.DS_Store
.AppleDouble
.LSOverride

## Basics
*.py[cod]
__pycache__

## Logs
logs
*.log
pip-log.txt
npm-debug.log*

## SQLite
*.sqlite3

## Unit tests / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

## npm
node_modules/

## bower
bower_components/

## Virtual environments
.env
secret.json
secret.properties

staticfiles/

.cache

# Project development assets
kaec/media
kaec/static/css/*
!kaec/static/css/.gitkeep
kaec/static/js/*
!kaec/static/js/.gitkeep
kaec/static/imgs/*
!kaec/static/imgs/.gitkeep
!kaec/static/imgs/favicon.ico
