@mixin transition($duration) {
    -webkit-transition: $duration;
         -o-transition: $duration; 
            transition: $duration;
}

@mixin default-transition() {
    @include transition(0.5s);
}

@mixin transform($func) {
    -webkit-transform: $func;
       -moz-transform: $func;
        -ms-transform: $func;
         -o-transform: $func;
            transform: $func;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
       -moz-user-select: $value;
        -ms-user-select: $value;
            user-select: $value;
}