/* Color */
$black:             #000;
$white:             #FFF;
$grey:              #505050;

/* Accent colors */
$accent-primary:      #5da91e;
$accent-success:      #3bc8ff;
$accent-info:         #33d6cc;
$accent-warning:      #c0e657;
$accent-extra:        #5add55;

/* Brand's colors */
$fb-blue:             #3B579D;
$ins-blue:            #527FA4;
$youtube-red:         #C8302A;
$twitter-blue:        #55ACEE;