<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block page_title %}{% endblock %} | King Abdullah Economic City</title>
        <meta name="description" content="King Abdullah Economic City">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'layout/stylesheets.html' %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% include 'layout/javascript.html' %}
    </body>
</html>