{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block page_title %}{% endblock %} | King Abdullah Economic City</title>
        <meta name="description" content="King Abdullah Economic City">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% include 'layout/stylesheets.html' %}
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {% block content %}{% endblock %}

        {% include 'layout/javascript.html' %}
    </body>
</html>